# Simpsons: Merging and Concatenation

## Imports

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## Relationships between DataFrames

When you have multiple `DataFrame`s that have common keys you can have **relationships** between the entities in the different `DataFrame`s. There are three types of entity relationships that are possible:

* 1-to-1
* 1-to-many
* many-to-many

Here is a small data set from the TV show [The Simpsons](https://en.wikipedia.org/wiki/The_Simpsons) to illustrate these relationshps.

First, here is a `DataFrame` with students' first and last names, along with a unique student id:

In [2]:
students = DataFrame({'fname': ['Bart','Lisa','Milhouse'],
                      'lname': ['Simpson','Simpson','Van Houten']},
                     index=list('abc'))
students

      fname       lname
a      Bart     Simpson
b      Lisa     Simpson
c  Milhouse  Van Houten

Here is a `DataFrame` with the student social security numbers, indexed by their unique student id:

In [3]:
ssns = DataFrame({'ssn':[1234,5678,9101]}, index=list('abc'))
ssns

    ssn
a  1234
b  5678
c  9101

Each student can have aliases or nicknames:

In [4]:
aliases = DataFrame({'alias':['Bartman','Bartron','Cosmos','Truth Teller','Lady Penelope Ariel',
                              'Jake Boyman','Lou La Trec','Eagle Eye','Maestro'],
                     'student': list('aaabbbccc')})
aliases

                 alias student
0              Bartman       a
1              Bartron       a
2               Cosmos       a
3         Truth Teller       b
4  Lady Penelope Ariel       b
5          Jake Boyman       b
6          Lou La Trec       c
7            Eagle Eye       c
8              Maestro       c

Here are the student home addresses:

In [5]:
addresses = DataFrame({'address':['742 Evergreen Terrace','742 Evergreen Terrace','316 Pikeland Ave.']},
                      index=list('abc'))
addresses

                 address
a  742 Evergreen Terrace
b  742 Evergreen Terrace
c      316 Pikeland Ave.

A table of courses the students can be enrolled in:

In [6]:
courses = DataFrame({'name':['Biology','Math','PE','Underwater electronics']}, index=range(4))
courses

                     name
0                 Biology
1                    Math
2                      PE
3  Underwater electronics

This table contains the enrollment for each course. Each row of this table has a student and course.

In [7]:
enroll = DataFrame({'student':['a','b','b','c','c','c']},index=(2,0,1,0,1,2))
enroll

  student
2       a
0       b
1       b
0       c
1       c
2       c

## 1-1 relationships

* Each student has exactly one SSN.
* Each SSN belongs to exactly one student.

Create a `DataFrame` with the students' first name, last name and social security number:

In [ ]:
merge1 = students.merge(ssns, left_index = True, right_index = True)

In [19]:
merge1

      fname       lname   ssn
a      Bart     Simpson  1234
b      Lisa     Simpson  5678
c  Milhouse  Van Houten  9101

In [20]:
assert list(merge1.columns)==['fname', 'lname', 'ssn']
assert list(merge1.index)==list('abc')

## 1-many relationships

### Students and addresses

* Each student has exactly one address.
* Each address can have many students.

Create a `DataFrame` with the students' first name, last name and address:

In [21]:
merge2 = students.merge(addresses, left_index = True, right_index = True)

In [22]:
merge2

      fname       lname                address
a      Bart     Simpson  742 Evergreen Terrace
b      Lisa     Simpson  742 Evergreen Terrace
c  Milhouse  Van Houten      316 Pikeland Ave.

In [23]:
assert list(merge2.columns)==['fname', 'lname', 'address']
assert list(merge2.index)==list('abc')

### Students and aliases

* Each student can have many aliases.
* Each alias belong to exactly one student.

Create a `DataFrame` with the students' first name, last name and alias. The index of the data frame should be the student column (a, b, c).

In [53]:
merge3 = pd.merge(students, aliases, how='left',left_index = True, right_on = 'student').drop('student', axis = 1)
merge3.index = aliases.student

In [54]:
merge3

            fname       lname                alias
student
a            Bart     Simpson              Bartman
a            Bart     Simpson              Bartron
a            Bart     Simpson               Cosmos
b            Lisa     Simpson         Truth Teller
b            Lisa     Simpson  Lady Penelope Ariel
b            Lisa     Simpson          Jake Boyman
c        Milhouse  Van Houten          Lou La Trec
c        Milhouse  Van Houten            Eagle Eye
c        Milhouse  Van Houten              Maestro

In [55]:
assert list(merge3.columns)==['fname', 'lname', 'alias']
assert list(merge3.index)==list('aaabbbccc')

## Many-many relationships

* A student can take multiple classes.
* A single class can have multiple students.

Create a `DataFrame` with the students first name, last name and student (a, b, c) and course name. Multiple merges may be required.

In [44]:
merge4 = pd.merge(students, courses, how='left',left_index = True, right_index = True)

KeyError: 'student'

In [ ]:
merge4

In [ ]:
assert list(merge4.columns)==['fname', 'lname', 'student', 'name']
assert len(merge4)==7

## Concatenation

Use Pandas' `concat` function to combining the `students` and `ssns` `DataFrame`s by columns

In [52]:
concat1 = pd.concat([students, ssns], axis='col')

ValueError: No axis named col for object type <class 'pandas.core.frame.DataFrame'>

In [49]:
concat1

      fname       lname     ssn
a      Bart     Simpson     NaN
b      Lisa     Simpson     NaN
c  Milhouse  Van Houten     NaN
a       NaN         NaN  1234.0
b       NaN         NaN  5678.0
c       NaN         NaN  9101.0

In [50]:
assert list(concat1.columns)==['fname', 'lname', 'ssn']
assert list(concat1.index)==list('abc')

AssertionError:

Do the same thing for the `students`, `ssns` and `addresses` `DataFrame`s:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
concat2

In [ ]:
assert list(concat2.columns)==['fname', 'lname', 'ssn', 'address']
assert list(concat2.index)==list('abc')